<div class="centered-container">
  <hr>
  <div class="header-container">
    <h1>Welcome, {{ userName }}</h1>
    <button (click)="logout()" class="logout-button">Logout</button>
  </div>
  <hr>

  <!-- Pagination for blog articles -->
  <div *ngFor="let article of paginatedArticles" class="article">
    <h3>{{ article.title }}</h3>
    <p>{{ article.content }}</p>
  </div>

  <div class="pagination" style="text-align: center; margin-top: 20px;">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
